<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

<div class =''>
         <% if current_user.admin? %>
    <h4>Merge Articles</h4>
     <form name ="merge" action=<%="/admin/content/merge/" + @article.id.to_s %> method="get">
    Article ID: <%= text_field 'article', 'keywords', {:autocomplete => 'off', :style => 'width: 50%'} %>
    <br>
     <input type="submit" value="Merge" >
   </form>
   <% end %>
</div>
